@model Zimrii.Solidity.Admin.Models.RoyaltiesModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Deploy contract</h2>

        <form asp-controller="Royalties" asp-action="DeployAsync" method="post" class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2" for="RoyaltiesAbi">Royalties Abi:</label>
                <div class="col-sm-8">
                    <textarea class="form-control" asp-for="RoyaltiesAbi"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="RoyaltiesBin">Royalties Bin:</label>
                <div class="col-sm-8">
                    <textarea class="form-control" asp-for="RoyaltiesBin"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="AccessControlAbi">Access Control Abi:</label>
                <div class="col-sm-8">
                    <textarea class="form-control" asp-for="AccessControlAbi"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="AccessControlBin">Access Control Bin:</label>
                <div class="col-sm-8">
                    <textarea class="form-control" asp-for="AccessControlBin"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Password:</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="pwd" name="pwd">
                </div>
            </div>
            <button type="submit" class="btn btn-default">Deploy</button>
        </form>

        <div class="col-sm-8 alert alert-@Model.DeployResult.ResultType" data-bind="visible: @Model.DeployResult.ShowResult" style="margin-top:30px;">
            @Model.DeployResult.Message
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Set Royalties</h2>

        <form asp-controller="Royalties" asp-action="SetRoyalties" method="post" class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2" for="RoyaltiesGuid">Royalties Guid:</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="RoyaltiesGuid" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="RoyaltiesHash">Royalties Hash:</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="RoyaltiesHash" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Password:</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="pwd" name="pwd">
                </div>
            </div>
            <button type="submit" class="btn btn-default">Set Royalties</button>
        </form>

        <div class="col-sm-8 alert alert-@Model.SetRoyaltiesResult.ResultType" data-bind="visible: @Model.SetRoyaltiesResult.ShowResult" style="margin-top:30px;">
            @Model.SetRoyaltiesResult.Message
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Get Royalties</h2>

        <form asp-controller="Royalties" asp-action="GetRoyalties" method="post" class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2" for="RoyaltiesGuid">Royalties Guid:</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="RoyaltiesGuid" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="RoyaltiesHashRead">Royalties Hash:</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="RoyaltiesHashRead"/>
                </div>
            </div>

            <button type="submit" class="btn btn-default">Get Royalties</button>
        </form>

        <div class="col-sm-8 alert alert-@Model.GetRoyaltiesResult.ResultType" data-bind="visible: @Model.GetRoyaltiesResult.ShowResult" style="margin-top:30px;">
            @Model.GetRoyaltiesResult.Message
        </div>
    </div>
</div>
